.color-container {
  margin: auto;

  .color-display {
    margin-top: 10px;
    height: 150px;
    width: 150px;
  }
  .input-container {
    input {
      -webkit-appearance: none;
      outline: none;
      border-radius: 50px;
      margin-left: 0px;
      margin-right: 0px;
      width: 150px;
    }
    #red {
      background: linear-gradient(90deg, rgb(0,0,0), rgb(255,0,0));
    }
    #green {
      background: linear-gradient(90deg, rgb(0,0,0), rgb(0,255,0));
    }
    #blue {
      background: linear-gradient(90deg, rgb(0,0,0), rgb(0,0,255));
    }
  }
}
