.palette-list-container {
  margin-top: 30px;

  .palette {
    display: flex;

    .color{
      margin: 10px;
      height: 100px;
      width: 100px;
    }

    button {
      height: 100px;
      width: 100px;
      margin: 10px;
    }
  }
}
